<!DOCTYPE html>
<html>
<head>
    <title>RDIC - Amministrazione - Lista prodotti</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">






    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min - Copy.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.gr.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-fileinput/css/fileinput.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/content.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/content_responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/mdd_styles.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/admin.css" />

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    @*<script src="~/Scripts/dropzone.js"></script>
        <script src="~/Scripts/showdown.min.js"></script>*@
    <script src="~/Scripts/admin.js"></script>
    <script src="~/Scripts/MarkdownDeepLib.min.js"></script>
    <script src="~/Scripts/jquery-sortable-min.js"></script>
    <script src="~/Scripts/plugins/piexif.min.js"></script>
    <script src="~/Scripts/plugins/sortable.min.js"></script>
    <script src="~/Scripts/plugins/purify.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min - Copy.js"></script>
    <script src="~/Scripts/fileinput.min.js"></script>
    <script src="~/Scripts/locales/it.js"></script>

</head>
<body style="overflow:hidden;">
    @RenderSection("Content", required: true)
    <!-- Global site tag (gtag.js) - Google Analytics
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150316904-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-150316904-1');
    </script>
    END Global site tag -->
</body>
</html>
