@model RDIC.Models.MasterData
@{
    ViewBag.Title = "Dettaglio News";
}

<div class="ml-4 mr-4 content" style="width:100%;">
    <h2>Modifica Password</h2>
    <form action="~/Admin/ChangePassword" class="dropzone" id="frmChangePassword">
        <input type="hidden" id="idMasterData" name="idMasterData" value="@Model.Id" />
        <div class="form-group">
            @*<h3><label>Vecchia Password</label></h3>
            <input type="password" class="form-control" name="oldPassword" id="oldPassword" value="" required><br />*@
            <h3><label>Nuova Password</label></h3>
            <input type="password" class="form-control" name="newPassword" id="newPassword" value="" required><br />
            <h3><label>Conferma Password</label></h3>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" value="" required><br />
        </div>
        <button id="productSave" type="button" onclick="validation();" class="btn btn-primary">Salva</button><br /><br />
        <div id="productError">
            <img src="~/img/product-error.png" width="70" />
            <label style="width:700px;font-size:large;color:#ff0000;">Errore durante il salvataggio. Riprovare in un secondo momento, se l'errore persiste contattare l'amministratore del sistema</label>
        </div>
        <div id="productOk">
            <img src="~/img/product-ok.png" width="64" />
            <label style="width:700px;font-size:large;">Salvataggio avvenuto con successo</label>
        </div>
        <div id="productLoader" class="loader07"></div>
    </form>
</div>
<script>
    function validation() {
        var isValid = true;
        //$("#oldPassword").removeClass("is-invalid");
        $("#newPassword").removeClass("is-invalid");
        $("#confirmPassword").removeClass("is-invalid");

        //if ($("#oldPassword").val() == '') {
        //    $("#oldPassword").addClass("is-invalid");
        //    isValid = false;
        //}

        if ($("#newPassword").val() == '') {
            $("#newPassword").addClass("is-invalid");
            isValid = false;
        }

        if ($("#confirmPassword").val() == '') {
            $("#confirmPassword").addClass("is-invalid");
            isValid = false;
        }

        if ($("#newPassword").val() != $("#confirmPassword").val()) {
            $("#confirmPassword").addClass("is-invalid");
            $("#newPassword").addClass("is-invalid");
            isValid = false;
        } 

        if (isValid) {
            ChangePassword();
        }

        return false;
    }

    function onInputFormChange() {
        $('#productSave').attr('disabled', false);
        $("#productLoader").hide();
        $("#productError").hide();
        $("#productOk").hide();
    }
    $(document).ready(function () {
        $("#frmChangePassword").on('input change', function () {
            onInputFormChange();
        });

        $('#productSave').attr('disabled', true);
        $("#productLoader").hide();
        $("#productError").hide();
        $("#productOk").hide();
    })
</script>
