@model RDIC.Models.Categoria
@{
    ViewBag.Title = "Dettaglio Categoria";

}

<div class="ml-4 mr-4 content" style="width:100%;">
    <h2>Modifica prodotto</h2>

    <form action="~/Admin/UpdateCategoria" class="dropzone" id="frmUpdateCategoria">
        <input type="hidden" id="idCategoria" name="idCategoria" value="@Model.Id" />
        <div class="form-group">
            <h3><label>Titolo IT</label></h3>
            <input type="text" class="form-control" name="titleIT" value="@Model.DescriptionIT"><br />
            <h3><label>Titolo EN</label></h3>
            <input type="text" class="form-control" name="titleEN" value="@Model.DescriptionEN"><br />
            <h3><label>Titolo FR</label></h3>
            <input type="text" class="form-control" name="titleFR" value="@Model.DescriptionFR"><br />
        </div>
        <button id="productSave" type="button" onclick="updateCategoria();" class="btn btn-primary">Salva</button><br /><br />
        <div id="productError">
            <img src="~/img/product-error.png" width="70" />
            <label style="width:700px;font-size:large;color:#ff0000;">Errore durante il salvataggio. Riprovare in un secondo momento, se l'errore persiste contattare l'amministratore del sistema</label>
        </div>
        <div id="productOk">
            <img src="~/img/product-ok.png" width="64" />
            <label style="width:700px;font-size:large;">Salvataggio avvenuto con successo</label>
        </div>
        <div id="productLoader" class="loader07"></div>
    </form>
</div>
<script>
    function onInputFormChange() {
        $('#productSave').attr('disabled', false);
        $("#productLoader").hide();
        $("#productError").hide();
        $("#productOk").hide();
    }
    $(document).ready(function () {
        $("#frmUpdateCategoria").on('input change', function () {
            onInputFormChange();
        });

        $("#descriptionIT").MarkdownDeep({
            help_location: "mdd_help.htm"
        });
        $("#descriptionEN").MarkdownDeep({
            help_location: "mdd_help.htm"
        });
        $("#descriptionFR").MarkdownDeep({
            help_location: "mdd_help.htm"
        });

        $('#productSave').attr('disabled', true);
        $("#productLoader").hide();
        $("#productError").hide();
        $("#productOk").hide();

    })

</script>
