@model List<RDIC.Models.Categoria>

<div class="col ml-4 mr-4 content">
    <h1>Elenco categorie</h1>
    <ol class="sortAdmin">
        @foreach (RDIC.Models.Categoria item in Model)
        {
            <li>
                <h4>@item.Order - @item.DescriptionIT </h4>
                <input type="hidden" id="hddCatId" value="@item.Id" />
            </li>
        }
    </ol>
    <button id="productSave" type="button" onclick="updateOrderCat();" class="btn btn-primary">Salva</button><br /><br />
    <br />
    <div id="productError">
        <img src="~/img/product-error.png" width="70" />
        <label style="width:700px;font-size:large;color:#ff0000;">Errore durante il salvataggio. Riprovare in un secondo momento, se l'errore persiste contattare l'amministratore del sistema</label>
    </div>
    <div id="productOk">
        <img src="~/img/product-ok.png" width="64" />
        <label style="width:700px;font-size:large;">Salvataggio avvenuto con successo</label>
    </div>
    <div id="productLoader" class="loader07"></div>

</div>
<script>
    function onInputFormChange() {
        $('#productSave').attr('disabled', false);
        $("#productLoader").hide();
        $("#productError").hide();
        $("#productOk").hide();
    }
    $(document).ready(function () {
        $("ol.sortAdmin").sortable();

        $('#productSave').attr('disabled', false);
        $("#productLoader").hide();
        $("#productError").hide();
        $("#productOk").hide();
    });
</script>
